.class-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  box-sizing: border-box;

  padding-top: 8px;
}

mat-form-field {
  width: 100%;
  box-sizing: border-box;
}

mat-checkbox {
  margin-top: 2px;
}