.sidebar {
  width: 260px;
  height: 100vh;

  box-sizing: border-box;

  background: #182238;
}


/* ==============================
   Sidebar Header
   ============================== */

.sidebar-header {
  font-size: 15px;
  padding: 20px;
  margin-bottom: 33px;

  font-size: 14px;
  font-weight: 600;

  color: #94a3b8;
}


/* ==============================
   Sidebar Menu
   ============================== */

.sidebar-menu {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 0 10px;

  box-sizing: border-box;
}


/* ==============================
   Menu Item
   ============================== */

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;
  min-width: 0;

  box-sizing: border-box;

  padding: 12px 14px;
  margin-bottom: 4px;

  color: #94a3b8;

  text-decoration: none;

  border-radius: 8px;

  transition: background 0.2s ease;
}


/* ==============================
   Hover
   ============================== */

.menu-item:hover {
  background: #464d5d;
}


/* ==============================
   Active
   ============================== */

.menu-item.active {
  background: #133570;
  color: #ffffff;
}

.menu-item.active mat-icon {
  color: #38bdf8;
}

/* ==============================
   Icons
   ============================== */

.menu-item mat-icon {
  flex-shrink: 0;

  font-size: 22px;
  width: 22px;
  height: 22px;

  color: inherit;
}


/* ==============================
   Text
   ============================== */

.menu-item span {

  font-size: 15px;
  min-width: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}