<h2 mat-dialog-title>
  {{ 'SECTIONS.FILTER_DIALOG.TITLE' | translate }}
</h2>

<mat-dialog-content>

  <form
    [formGroup]="filterForm"
    class="filter-form">

    <!-- Class (Active only) -->
    <mat-form-field appearance="outline">

      <mat-label>
        {{ 'SECTIONS.FILTER_DIALOG.CLASS' | translate }}
      </mat-label>

      <mat-select formControlName="classId">

        <mat-option [value]="null">
          {{ 'SECTIONS.FILTER_DIALOG.ALL' | translate }}
        </mat-option>

        @for (c of classes(); track c.schoolClassId) {
          <mat-option [value]="c.schoolClassId">
            {{ getClassName(c) }}
          </mat-option>
        }

      </mat-select>

    </mat-form-field>


    <!-- Section (disabled until a class is chosen) -->
    <mat-form-field appearance="outline">

      <mat-label>
        {{ 'SECTIONS.FILTER_DIALOG.SECTION' | translate }}
      </mat-label>

      <mat-select formControlName="sectionId">

        <mat-option [value]="null">
          {{ 'SECTIONS.FILTER_DIALOG.ALL' | translate }}
        </mat-option>

        @for (s of sections(); track s.sectionId) {
          <mat-option [value]="s.sectionId">
            {{ getSectionName(s) }}
          </mat-option>
        }

      </mat-select>

    </mat-form-field>


    <!-- Academic Year -->
    <mat-form-field appearance="outline">

      <mat-label>
        {{ 'SECTIONS.FILTER_DIALOG.ACADEMIC_YEAR' | translate }}
      </mat-label>

      <mat-select formControlName="academicYearId">

        <mat-option [value]="null">
          {{ 'SECTIONS.FILTER_DIALOG.ALL' | translate }}
        </mat-option>

        @for (y of academicYears(); track y.academicYearId) {
          <mat-option [value]="y.academicYearId">
            {{ y.yearName }}
          </mat-option>
        }

      </mat-select>

    </mat-form-field>


    <!-- Academic Term (disabled until an academic year is chosen) -->
    <mat-form-field appearance="outline">

      <mat-label>
        {{ 'SECTIONS.FILTER_DIALOG.ACADEMIC_TERM' | translate }}
      </mat-label>

      <mat-select formControlName="academicTermId">

        <mat-option [value]="null">
          {{ 'SECTIONS.FILTER_DIALOG.ALL' | translate }}
        </mat-option>

        @for (t of academicTerms(); track t.academicTermId) {
          <mat-option [value]="t.academicTermId">
            {{ getTermName(t) }}
          </mat-option>
        }

      </mat-select>

    </mat-form-field>

  </form>

</mat-dialog-content>


<mat-dialog-actions align="end">

  <button
    mat-button
    type="button"
    (click)="clear()">

    {{ 'SECTIONS.FILTER_DIALOG.CLEAR' | translate }}

  </button>


  <button
    mat-button
    type="button"
    (click)="cancel()">

    {{ 'SECTIONS.FILTER_DIALOG.CANCEL' | translate }}

  </button>


  <button
    mat-flat-button
    type="button"
    (click)="apply()">

    {{ 'SECTIONS.FILTER_DIALOG.APPLY' | translate }}

  </button>

</mat-dialog-actions>